@import './basket-product.scss';

.product{
  max-width: 300px;
  width: 100%;
  min-width: 280px;

  background-color: #fff;

  &-img {
    display: block;
    width: 100%;
    height: 200px;
  
    background-color: gray;
  }
  
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    row-gap: 10px;
    padding: 10px;
  }
  
  &__title {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    grid-column: 1/3;
  }
  &__description {
    font-size: 18px;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.7);
    grid-column: 1/3;
  }
  
  &__weight {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
  }
  &__price {
    width: max-content;
    justify-self: end;
    padding: 3px 15px;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    color: #fff;
    background-color: green;
    border-radius: 25px;
  }
  &__porsion{
    grid-column: 1/3;
  }
  &__total-price {
    color: green;
    font-size: 24px;
    text-align: right;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: green;
  }
}
@media (width <= 568px){
  .product{
    max-width: 250px;
    min-width: 250px;

    &-img{
      height: 150px;
    }

    &__title{
      font-size: 24px;
    }

    &__total-price{
      font-size: 20px;
    }

    &__button{
      height: 30px;
      font-size: 18px;
    }
  }
}
